/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font-family: "Inter-Variable";
  --main-font-family-normal-weight: 400;
  --main-font-family-title-weight: 700;
  --accent-font-family: "PressStart2P";
  --accent-font-family-normal-weight: 400;
  --header-background-color: yellow;
  --font-color: #000;
  --accent-color: #000;
  --section-border-color: #000;
  --background-color: #fff;
  --hover-opacity-color: rgb(0, 0, 0, 0.6);
  --section-background-color: #fff;
  --button-border-color: #000;
  --background-gradient: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --heart-main-body-color: #ff0000;
  --heart-hover-color: #000;
  --mix-mode-color: #fff;
  --label-stroke-color: #fff;
}

:root.theme-dark {
  --header-background-color: blue;
  --font-color: #00cc14;
  --accent-color: #00cc14;
  --main-font-family: "Inter-Variable";
  --main-font-family-normal-weight: 465;
  --main-font-family-title-weight: 785;
  --accent-font-family: "PressStart2P";
  --accent-font-family-normal-weight: 400;
  --section-border-color: #00cc14;
  --hover-opacity-color: rgb(0, 204, 20, 0.6);
  --background-color: #000;
  --section-background-color: #000;
  --button-border-color: #00cc14;
  --background-gradient: repeating-linear-gradient(
      to left,
      #000 0 2px,
      #00000000 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, #00000000 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
  --heart-main-body-color: #ff0000;
  --heart-hover-color: #00cc14;
  --mix-mode-color: #00cc14;
  --label-stroke-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-background-color: blue;
    --font-color: #00cc14;
    --accent-color: #00cc14;
    --main-font-family: "Inter-Variable";
    --main-font-family-normal-weight: 465;
    --main-font-family-title-weight: 785;
    --accent-font-family: "PressStart2P";
    --accent-font-family-normal-weight: 400;
    --section-border-color: #00cc14;
    --hover-opacity-color: rgb(0, 204, 20, 0.6);
    --background-color: #000;
    --section-background-color: #000;
    --button-border-color: #00cc14;
    --background-gradient: repeating-linear-gradient(
        to left,
        #000 0 2px,
        #00000000 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 2px, #00000000 2px 4px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --heart-main-body-color: #ff0000;
    --heart-hover-color: #00cc14;
    --mix-mode-color: #00cc14;
    --label-stroke-color: #000;
  }
}
